<div class="homePage">
    <h1 class="homePage__heading">Home Page</h1>
    <h3 id="homePageName"class="homePage__intro"></h3>
    <div class="homePage__boxes">
        <a onclick="change('userList')" class="homePage__boxes--single">
            <img src="../images/user-list-logo.png" data-name="userList"/>
            <span>User Lists</span>
        </a>
        <a onclick="change('publicList')" class="homePage__boxes--single">
            <img src="../images/public-list-logo.png" data-name="publicList"/>
            <span>Public Lists</span>
        </a>
    </div>
</div>
