@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900");
.font{
    letter-spacing: 1px;
    font-family: "Source Sans Pro";
}
.container{
    display: flex;
    justify-content: center; 
}